<template>
  <div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="float-left mt-3">
                    <a href="/" atl="/"><img src="../assets/LogoTGL.png" /></a>
                </div>
            </div>
            <div class="col-9">
                <ul class="float-right">
                    <li>
                        <a href="/"><span>Home</span></a>
                    </li>
                    <li>
                        <a href="#"><span>About-us</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Services</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Project</span></a>
                    </li>
                    <li>
                        <a href="#"><span>TGL-activity</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Contact</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Blog</span></a>
                    </li>
                    <li class="language">
                        <button type="button" class="btn btn-primary rounded-0 border-light">ENG</button>
                        <button type="button" class="btn btn-light rounded-0 border-light">JP</button>
                    </li>
                    </ul>
            </div>
        </div>
    </div>
    <div class ="center">
        <div class="container">
            <div class="row">
                <div class="float-left welcome">
                    <span class="textWhite font-weight-bold">Welcome to <span class="textOrange">TGL</span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 slogan">
                    <span class="sloganMain font-weight-bold">
                        <span class="slogan1">
                            <span class="textGreen">S</span>
                            <span class="textWhite">mart </span>
                            <span class="textGreen">& S</span>
                            <span class="textWhite">peed</span>
                        </span>
                        <span class="slogan2">
                            <span class="textGreen"> Solution</span>
                            <span class="textWhite">s</span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 introduce">
                    <span>Excellent IT services  for your success</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 decription">
                    <span>Your business can save  money  and time today with Outsourceo’s managed services, network solution, IT support  and more.</span>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary sev-con">See Our Sevices</button>
                            </div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary sev-con">Contact now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "header",
};
</script>

<style>
.header {
  background: url("../assets/banner.png") no-repeat center top;
  background-size: cover;
  background-position: center;
  background-size: cover;
  min-height: 700px;
}

.logo {
  margin-left: 50px;
  margin-top: 10px;
}

ul li {
  display: inline-block;
  padding: 21px 10px 0px 15px;
}

ul li a span{
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-family: Roboto;
}

button.btn.btn-primary.rounded-0.border-light {
    color: white;
}

button.btn.btn-light.rounded-0.border-light {
    color: #007bff;
}

ul li a:hover {
  color: #ef664d;
}

.container {
    max-width: 100%;
}

.center {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.float-left.welcome {
    line-height: 0px;
}

span.textGreen {
    color: #7FBA44;
}
span.textWhite {
    color: #FFFFFF;
}
span.textOrange {
    color: #F27323;
    font-size: 120px;
}

span.textWhite.font-weight-bold {
    font-size: 100px;
    font-family: Roboto;
    font-style: normal;
}
.col-sm-9.slogan {
    line-height: 105px;
}

.sloganMain {
    font-size: 70px;
}

.center.container.row {
    line-height: 60px;
}
.col-sm-9.introduce {
    font-size: 35px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 41px;
}
.col-sm-6.decription {
    color: #C4C4C4;
    font-size: 20px;
    line-height: 23px;
}
button.btn.btn-primary.sev-con {
    width: 267px;
    height: 45px;
    margin-top: 22px;
}

</style>