<template>
  <div class="home">
      <HeaderNew></HeaderNew>
  </div>
</template>

<script>
//import Header from './Header'
import HeaderNew from './HeaderNew'
export default {
  name: 'Home',
  data () {
    return {
    }
  },
  components: {
     // Header,
      HeaderNew
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
    Header