<template>
  <!-- <v-app>
    <v-main>
      <router-view />
    </v-main>
  </v-app> -->
  <div class="app">
    <router-view />
  </div>
</template>

<script>


export default {
  name: 'App',
  components: {
  },
  data: () => ({
    //
  }),
};
</script>
